day 2/project 8/n8n/P8 – Document Search.json
{
  "name": "P8 – Document Search",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "query"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -32,
        -176
      ],
      "id": "a5929a02-dc2e-4124-8112-e2cd2d52d107",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        264,
        48
      ],
      "id": "ed6a5bb1-daf7-4d0e-a51a-e1e5932e860e",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "UvEaHC6DxKEyYA9l",
          "name": "Google Gemini Api account 2"
        }
      }
    },
    {
      "parameters": {
        "mode": "load",
        "pineconeIndex": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "prompt": "={{ $json.query }}",
        "topK": 5,
        "options": {
          "pineconeNamespace": "it"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        192,
        -176
      ],
      "id": "eb3b0c89-6d23-4c97-a932-02be22dcd890",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "HUZXJZlHg4Yt9GPO",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3bacda26-fb9e-4856-908f-3dd7f020c4de",
              "name": "Content",
              "value": "={{ $json.document.pageContent }}",
              "type": "string"
            },
            {
              "id": "499fce40-a391-4b29-94bd-5324c0743454",
              "name": "Source File",
              "value": "={{ $json.document.metadata.file_name }}",
              "type": "string"
            },
            {
              "id": "5d3b3b0f-4c8e-423f-84ba-3da6dd654ed4",
              "name": "Page",
              "value": "={{ $json.document.metadata['loc.pageNumber'] }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        544,
        -176
      ],
      "id": "2c4092a3-1e35-43a7-8f32-338026d43013",
      "name": "Relevant Fields"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        768,
        -176
      ],
      "id": "9c282819-85fe-42fa-97a7-b240f8f1de5f",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0be016d4-3484-4916-bd0e-879b57afef02",
              "name": "response",
              "value": "={{ $json.toJsonString() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        992,
        -176
      ],
      "id": "66288af0-1819-4164-a447-81d91f24ad2f",
      "name": "Response"
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "query": "Email templates aren’t displaying dynamic fields."
        }
      }
    ]
  },
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "main": [
        [
          {
            "node": "Relevant Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Relevant Fields": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "2cd0757c-80d5-4244-9d71-cc1fa8b291ff",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "26bf8eec37d4d0a7ee8a9b62eaf593a40b0ce784017882c7b978518d626df3a8"
  },
  "id": "mY6glsuk-XAkNv3tfCU4r",
  "tags": []
}